.Menu {
  background: rgb(27, 32, 38);
  padding: 150px 0;

  .content {
    gap: 5%;
    display: flex;
    justify-content: space-between;

    .categories {
      width: 363px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .categorybutton {
      position: relative;
      background: rgb(31, 39, 49);
      border: none;
      color: white;
      font-size: 24px;
      font-weight: 600;
      cursor: pointer;
      width: 100%;
      height: 66px;
      transition: background-color 0.3s ease, transform 0.2s ease,
        color 0.3s ease;
      line-height: 37px;

      &::before {
        z-index: 10;
        position: absolute;
        content: "";
        width: 238.01px;
        left: 15%;
        bottom: 6.2px;
        opacity: 0.6;
        border: 0.4px solid rgb(229, 229, 229);
        transition: all 0.3s ease;
      }

      &:hover {
        background: rgb(239, 39, 44);
        color: white;
        transform: translateY(-3px);
      }

      &.active {
        background: rgb(239, 39, 44);
        color: white;

        &::before {
          width: 50px;
          left: auto;
          right: -7%;
          border: 1px solid white;
          bottom: 50%;
          transform: translateY(50%);
        }
      }
    }

    .menuitems {
      .selectedItem {
        position: relative;
        background: rgb(31, 39, 49);
        width: 100%;
        height: 250px;
        display: flex;

        // justify-content: space-between;
        margin-bottom: 30px;
        .rightItems {
          width: 327px;
          margin-left: 27px;
          margin-top: 25px;

          hr {
            display: none;
          }
          h4 {
            color: rgb(255, 255, 255);
            font-family: "Spartan", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0%;
          }

          ul {
            list-style: none;
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 12px;
              color: rgb(147, 147, 147);
              font-family: "Spartan", sans-serif;
              font-size: 15px;
              font-weight: 500;
              line-height: 17px;
              letter-spacing: 0%;
              text-align: left;
            }
          }
        }
        button {
          cursor: pointer;
          position: absolute;
          top: -60px;
          left: -90%;
          width: 53px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 53px;
          background-color: transparent;
          border: none;
          outline: none;

          h1 {
            margin-top: 20px 0;
          }
        }
        .notTogether {
          padding: 0 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: black;

          .together {
            h2 {
              color: rgb(255, 255, 255);
              font-family: Spartan;
              font-size: 16px;
              font-weight: 600;
              line-height: 18px;
              letter-spacing: 0%;
            }
            p {
              margin-top: 6px;
              color: rgb(147, 147, 147);
              font-family: Spartan;
              font-size: 14px;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: 7%;
            }
          }
          h3 {
            color: rgb(239, 39, 44);
            font-family: Spartan;
            font-size: 24px;
            font-weight: 600;
            line-height: 18px;
            text-align: left;
          }
        }
      }
    }

    .alls {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;

      .menuItem {
        list-style: none;
        position: relative;
        width: 329px;
        height: 250px;
        border-radius: 2px;
        background: rgb(255, 255, 255);
        color: black;

        border-radius: 10px;
        .menuItemHeader {
          img {
            width: 329px;
            height: 187px;
            border-radius: 10px;
          }
          .notTogether {
            padding: 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .together {
              h2 {
                color: rgb(31, 39, 49);
                font-family: Spartan;
                font-size: 18px;
                font-weight: 600;
                line-height: 18px;
                text-align: left;
              }
              p {
                margin-top: 6px;
                color: rgb(147, 147, 147);
                font-family: Spartan;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 7%;
                text-align: left;
              }
            }
            h3 {
              color: rgb(239, 39, 44);
              font-family: Spartan;
              font-size: 24px;
              font-weight: 600;
              line-height: 18px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .Menu {
    .content {
      gap: 100px;
      .menuitems {
        .alls {
          width: 700px;
        }
        .selectedItem {
          button {
            top: -60;
            left: -75%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Menu {
    .content {
      display: flex;
      flex-direction: column;
      .categories {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none; // For Chrome, Safari, and other WebKit browsers
        }
        .categorybutton {
          min-width: 200px;
          &::before {
            display: none;
          }
        }
      }
      gap: 50px;
      .menuitems {
        .alls {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .selectedItem {
          width: 95%;
          margin: auto;

          button {
            top: -15px;
            left: 95%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Menu {
    .content {
      display: flex;
      flex-direction: column;
      .categories {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        overflow-x: auto;
        .categorybutton {
          min-width: 140px;
          color: rgb(255, 255, 255);
          font-size: 18px;

          &::before {
            display: none;
          }
        }
      }
      gap: 50px;
      .menuitems {
        .alls {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .menuItem {
            width: 250px;
            height: 210px;
          }
        }
        .selectedItem {
          height: 260px;

          .rightItems {
            width: 25%;
            margin-left: 27px;
            margin-top: 25px;
            h4 {
              color: rgb(255, 255, 255);
              font-family: "Spartan", sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 20px;
              letter-spacing: 0%;
            }

            ul {
              list-style: none;
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                font-weight: 500;
                line-height: 10px;
              }
            }
          }
          .notTogether {
            padding: 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: black;

            .together {
              margin-top: 20px;
              h2 {
                color: rgb(255, 255, 255);
                font-family: Spartan;
                font-size: 16px;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0%;
              }
            }

            // padding-right: 10px;
            button {
              // top: -5px;
              left: 94%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 557px) {
  .Menu {
    .content {
      .menuitems {
        .selectedItem {
          // position: fixed;
          // top: 70px;
          // left: -10px;
          width: 90%;
          height: 600px;
          // z-index: 9999;

          overflow-y: hidden;
          padding-top: 71px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .notTogether {
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          .rightItems {
            width: 327px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 350px;
            padding-top: 0;

            hr {
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            h4 {
              color: rgb(255, 255, 255);
              font-family: "Spartan", sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 20px;
            }
            ul {
              list-style: none;
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                color: rgb(147, 147, 147);
                font-family: "Spartan", sans-serif;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
          button {
            top: 0;
            left: 0;
          }
        }
        .alls {
          .menuItem {
            height: 80px;
            background-color: transparent;
            width: 335px;
            display: flex;
            gap: 12px;
            .menuItemHeader {
              display: flex;
              img {
                width: 101px;
                height: 80px;
                object-fit: cover;
              }
              .notTogether {
                display: flex;
                flex-wrap: wrap;
                .together {
                  h2 {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .Menu {
    .content {
      .menuitems {
        .selectedItem {
          // position: fixed;
          // top: 70px;
          // left: -10px;
          width: 100%;
          height: 600px;
          // z-index: 9999;

          overflow-y: hidden;
          padding-top: 71px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .notTogether {
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          .rightItems {
            width: 327px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 350px;
            padding-top: 0;

            hr {
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            h4 {
              color: rgb(255, 255, 255);
              font-family: "Spartan", sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 20px;
            }
            ul {
              list-style: none;
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                color: rgb(147, 147, 147);
                font-family: "Spartan", sans-serif;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
          button {
            top: 0;
            left: 0;
          }
        }
        .alls {
          .menuItem {
            height: 80px;
            background-color: transparent;
            width: 335px;
            display: flex;
            gap: 12px;
            .menuItemHeader {
              display: flex;
              img {
                width: 101px;
                height: 80px;
                object-fit: cover;
              }
              .notTogether {
                display: flex;
                flex-wrap: wrap;
                .together {
                  h2 {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .Menu {
    .content {
      .menuitems {
        .selectedItem {
          // position: fixed;
          // top: 70px;
          // left: -10px;
          width: 100%;
          height: 600px;
          padding: 0 10px 0px 10px;

          overflow-y: hidden;
          padding-top: 71px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .leftItems {
            img {
              width: 260px;
            }
          }

          .notTogether {
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          .rightItems {
            width: 327px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 350px;
            padding-top: 0;

            hr {
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            h4 {
              color: rgb(255, 255, 255);
              font-family: "Spartan", sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 20px;
            }
            ul {
              list-style: none;
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                color: rgb(147, 147, 147);
                font-family: "Spartan", sans-serif;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
          button {
            top: 0;
            left: 0;
          }
        }
        .alls {
          .menuItem {
            height: 80px;
            background-color: transparent;
            width: 335px;
            display: flex;
            gap: 12px;
            .menuItemHeader {
              display: flex;
              img {
                width: 101px;
                height: 80px;
                object-fit: cover;
              }
              .notTogether {
                display: flex;
                flex-wrap: wrap;
                .together {
                  h2 {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .Menu {
    .content {
      .menuitems {
        .selectedItem {
          // position: fixed;
          // top: 70px;
          // left: -10px;
          width: 100%;
          height: 600px;
          // z-index: 9999;

          overflow-y: hidden;
          padding-top: 71px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .notTogether {
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          .rightItems {
            width: 327px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 350px;
            padding-top: 0;

            hr {
              display: block;
              margin-top: 10px;
              margin-bottom: 10px;
            }

            h4 {
              color: rgb(255, 255, 255);
              font-family: "Spartan", sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 20px;
            }
            ul {
              list-style: none;
              li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                color: rgb(147, 147, 147);
                font-family: "Spartan", sans-serif;
                font-size: 15px;
                font-weight: 500;
              }
            }
          }
          button {
            top: 0;
            left: 0;
          }
        }
        .alls {
          .menuItem {
            height: 80px;
            background-color: transparent;
            width: 335px;
            display: flex;
            gap: 12px;
            .menuItemHeader {
              display: flex;
              border-radius: 10px;

              img {
                width: 101px;
                height: 80px;
                object-fit: cover;
              }
              .notTogether {
                display: flex;
                flex-wrap: wrap;
                .together {
                  h2 {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 430px) {
// 	.Menu {
// 		.content {
// 			.menuitems {
// 				.selectedItem {
// 					position: fixed;
// 					top: -200px;
// 					left: -65px;
// 					width: 100vw;
// 					height: 100vh;
// 					z-index: 9999;

// 					overflow-y: hidden;
// 					padding-top: 71px;
// 					display: flex;
// 					flex-wrap: wrap;
// 					justify-content: space-around;

// 					.notTogether {
// 						padding-left: 0;
// 						margin-bottom: 0;
// 						padding-bottom: 0;
// 					}
// 					.rightItems {
// 						width: 327px;
// 						margin-left: 0;
// 						margin-top: 0;
// 						margin-bottom: 350px;
// 						padding-top: 0;

// 						h4 {
// 							color: rgb(255, 255, 255);
// 							font-family: 'Spartan', sans-serif;
// 							font-size: 18px;
// 							font-weight: 600;
// 							line-height: 20px;
// 						}
// 						ul {
// 							list-style: none;
// 							li {
// 								display: flex;
// 								align-items: center;
// 								justify-content: space-between;
// 								margin-top: 12px;
// 								color: rgb(147, 147, 147);
// 								font-family: 'Spartan', sans-serif;
// 								font-size: 15px;
// 								font-weight: 500;
// 							}
// 						}
// 					}
// 					button {
// 						top: 0;
// 						left: 0;
// 					}
// 				}
// 				.alls {
// 					.menuItem {
// 						height: 80px;
// 						background-color: transparent;
// 						width: 335px;
// 						display: flex;
// 						gap: 12px;
// 						.menuItemHeader {
// 							display: flex;
// 							img {
// 								width: 101px;
// 								height: 80px;
// 								object-fit: cover;
// 							}
// 							.notTogether {
// 								display: flex;
// 								flex-wrap: wrap;
// 								.together {
// 									h2 {
// 										color: white;
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media (max-width: 375px) {
// 	.Menu {
// 		.content {
// 			.menuitems {
// 				.selectedItem {
// 					left: -58px;
// 				}
// 			}
// 		}
// 	}
// }

// @media (max-width: 320px) {
// 	.Menu {
// 		.content {
// 			.menuitems {
// 				.selectedItem {
// 					left: -54px;
// 					width: 320px;
// 					padding-left: 10px;
// 					.leftItems {
// 						width: 300px;
// 						img {
// 							width: 300px;
// 							object-fit: cover;
// 						}
// 					}
// 					button {
// 						top: 30px;
// 						width: 30px;
// 						height: 30px;
// 						img {
// 							width: 30px;
// 							height: 30px;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
